<div class="container mt-5">
    <div style="text-align: center;">

        @if (!registerMode) {
        @if (accountService.currentUser()) {
        <h2>Welcome back, {{accountService.currentUser()?.username | titlecase}}!</h2>
        <div>
            <h3>Logged by you</h3>
            <div class="row">
                @for (sport of sportsSummaries; track sport.sportType) {
                <h6 class="card-title text-center mb-1">
                    <i class="fa fa-heartbeat me-2"></i>
                    {{sport?.sportType}}
                </h6>
                <p class="card-text text-muted text-center">{{sport?.distance}} km</p>
                }
            </div>
            <button (click)="filterToggle()" class="btn btn-primary btn-lg me-2">Filter your activities</button>

            @if (filterMode) {
            <app-user-sport-filter></app-user-sport-filter>
            <button (click)="filterToggle()" class="btn btn-primary btn-lg me-2">Cancel</button>
            }
        </div>
        } @else {
        <h1>Welcome to Sports meter</h1>
        <p class="lead">Log in to see the latest sports activities</p>
        <div class="text-center">
            <button (click)="registerToggle()" class="btn btn-primary btn-lg me-2">Register</button>
            <button class="btn btn-info btn-lg me-2">Learn more</button>
        </div>
        }

        } @else {
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-4">
                    <app-register (cancelRegister)="cancelRegisterMode($event)">
                    </app-register>
                </div>
            </div>

        </div>
        }
    </div>