<div>
    <form [formGroup]="filterActivityForm" (click)="filterData()" autocomplete="off">
        <hr>

        <app-date-picker [formControl]="$any(filterActivityForm.controls['dateFrom'])" [label]="'Date from'">
        </app-date-picker>

        <app-date-picker [formControl]="$any(filterActivityForm.controls['dateTo'])" [label]="'Date to'">
        </app-date-picker>

        <div>
            <label for="sportType">Sport Type</label>
            <br>
            <select [formControl]="$any(filterActivityForm.controls['sportType'])" id="sportType">
                <option *ngFor="let sportType of sportTypes" [value]="sportType">{{ sportType }}</option>
            </select>
        </div>

        <app-text-input [formControl]="$any(filterActivityForm.controls['distanceFrom'])" [label]="'Distance from'">
        </app-text-input>

        <app-text-input [formControl]="$any(filterActivityForm.controls['distanceTo'])" [label]="'Distance to'">
        </app-text-input>

        <div>
            <label>Filter by:</label>
            <br>
            <input type="radio" id="filterByDate" name="orderBy" [formControl]="$any(filterActivityForm.controls['orderByDate'])" value="date">
            <label for="filterByDate">Date</label>
            <input type="radio" id="filterByDistance" name="orderBy" [formControl]="$any(filterActivityForm.controls['orderByDistance'])" value="distance">
            <label for="filterByDistance">Distance</label>
        </div>

        @if (validationErrors) {
        <div class="alert alert-danger text-start">
            <ul>
                @for (error of validationErrors; track $index) {
                <li>{{error}}</li>
                }
            </ul>
        </div>
        }

        <div class="form-group text-center">
            <button class="btn btn-success me-2" type="submit">Filter</button>
        </div>

    </form>

    @if (sportService.paginatedResult()?.pagination) {
    <div class="d-flex justify-content-center">
        <pagination [boundaryLinks]="true" [totalItems]="sportService.paginatedResult()?.pagination!.totalItems"
            [itemsPerPage]="sportService.paginatedResult()?.pagination!.itemsPerPage"
            (pageChanged)="pageChanged($event)" [maxSize]="10" previousText="&lsaquo;" nextText="&rsaquo;"
            firstText="&laquo;" lastText="&raquo;">
        </pagination>
    </div>
    }

    <h6 class="card-title text-center mb-1"></h6>
    <table class="table table-striped table-bordered table-hover text-center">
        <tr>
            <th>Sport type</th>
            <th>Date</th>
            <th>Distance</th>
        </tr>
        @for (sport of sportService.paginatedResult()?.items; track sport.sportType) {
        <tr>
            <td>{{sport?.sportType}}</td>
            <td>{{sport?.date}}</td>
            <td>{{sport?.distance}}</td>
        </tr>
        }
    </table>

</div>